body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* header  */
header {
    padding: 10px;
    width: 100%;
    position: fixed; 
    z-index: 2;
}

header, .footer_bottom {
    background-color: #2C3F51;
}

header .container, header .row {
    height: 100%;
}

h2 {
    padding: 10px;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    color: white;
    border: 1px solid white;
}

.hero, .about {
    background-color: #19BC9D;
}

.hero {
	padding: 120px 0 30px 0;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

/* barra - stella - barra  */
.barra_stella_barra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.barra {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
}

.fa-star {
    padding: 0 10px;
}

.circle img {
    width: 100%;
}

ul li {
    display: inline-block;
    list-style: none;
    padding-left: 25px;
}

ul li a {
    color: white;
    text-decoration: none;
}

/* sezione portfolio  */
.portfolio, .about, .contact, .footer_top, .footer_bottom{
    padding: 20px;
}

.portfolio .barra_stella_barra i {
    color: black;
}
.barra_stella_black {
    background: black;
}

.portfolio p {
    background-color: grey;
    padding: 10px;
}

.portfolio h2, .contact {
    color: black;
}

.portfolio_item {
    border-radius: 10px;
	overflow: hidden;
	margin: 10px 0;
}

.portfolio_item img {
    width: 100%;
    object-fit: contain;
}

/* overlay portfolio  */
.portfolio_item {
    position: relative;
}

.portfolio_item:hover .overlay {
    display: block;
}

.overlay {
    background-color: rgba(25, 188, 157, 0.8);
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.piu {
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_90 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

/* bottoni  */
.btn {
    border: 1px solid white;
    color: white;
}

.btn:hover {
    background-color: white;
}

.btn.btn_bgverde {
    background-color: #19BC9D;
}

.about p {
    margin: 10px 0 30px 0;
}

input, textarea {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    color: black;
}

#link_verde {
    color: #19BC9D;
    text-decoration: none;
}

/* footer  */
.footer_top {
    background-color: #3A546D;
}

.footer_top span {
    margin-bottom: 20px;
}

.icone-footer {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    margin: auto;
    border: 1px solid white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover .icone-footer{
    background-color: white;
    color: black;
}

.footer-bottom {
    margin-top: 10px;
}







