body {
    color: white;
}

header {
    background-color: #2C3F51;
}

h2 {
    padding: 20px;
}

button {
    height: 30px;
    background-color: #19BC9D;
    display: inline-block;
    color: white;
}

.hero, .about {
    background-color: #19BC9D;
}

.hero {
    padding: 100px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding-right: 25px;
}

ul li a {
    color: white;
    text-decoration: none;
}

.portfolio, .about, .contact, .footer-top, .footer-bottom{
    padding: 20px;
}

.portfolio p {
    background-color: grey;
    padding: 10px;
}

.portfolio h2, .contact {
    color: black;
}

.footer-top {
    background-color: #3A546D;
}

.footer-bottom {
    background-color: #2C3F51;
}


