body {
    color: white;
}

header {
    height: 80px;
    width: 100%;
    position: fixed; 
}

header, .footer_bottom {
    background-color: #2C3F51;
}

header .container, header .row {
    height: 100%;
}

h2 {
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #19BC9D;
    display: inline-block;
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
    border: 1px solid white;
}

.hero, .about {
    background-color: #19BC9D;
}

.hero {
    padding: 100px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding-left: 25px;
}

ul li a {
    color: white;
    text-decoration: none;
}

.portfolio, .about, .contact, .footer_top, .footer_bottom{
    padding: 20px;
}

.portfolio p {
    background-color: grey;
    padding: 10px;
}

.portfolio h2, .contact {
    color: black;
}

.portolio_img {
    height: 200px;
    border-radius: 10px;
    background-color: grey;
}

.portfolio-img img {
    width: 100%;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
}

.container_90 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.footer_top {
    background-color: #3A546D;
}


